body{
    /* color: #332222; */
    color: #020125;

    background-image: linear-gradient(#ffe5da, #ffbfaf);
    /* background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f 100%); */

    background-attachment: fixed;

}

html{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 em{
    font-size: 14px;
}

img{
    width: 85%;
    margin-bottom: 20px;
}

.asset_container{
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.button_container{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10px;
}

.button_container p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 0;
}

.button_container h4{
    font-style: italic;
    margin-bottom: 15px;
}

.asset {
    border-radius: 7px;
    text-align: center;
    width: 500px;
    margin: 10px;

    border: 1px solid #ffffff;
    background: rgba(240,240,255, 0.45);
    background: rgba(252, 248, 239, 0.65)
}


a {
    margin: 5px;
    padding: 11px 15px;
    display: inline-block;
    border-radius: 7px;
    text-align: center;
    margin-bottom: 15px;

    border: 1px solid rgb(124, 131, 165);
    background: rgba(250, 251, 255, 0.5);
}

a:visited{
    color: rgb(10, 11, 131);
    border-color: rgb(2, 1, 37);
}

a:link {
    color: rgb(81, 122, 224);
    border-color: rgb(150, 174, 236);
}

/* a:hover {
    color:white;
    border-color:white;
} */

/* Dark Mode */
@media (prefers-color-scheme: dark) {

    body{
        color: white;
        background: #0F2027;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


    a:link {
        color: rgb(187, 223, 253);
        border-color: rgb(187, 223, 253);
    }

    a:visited {
        color: #eeeadd;
        border-color: #eeeadd;
    }

    a:hover {
        color:white;
        border-color:white;
    }


    a {

        border: 1px solid rgb(187, 223, 253);
        background: rgba(112, 206, 236, 0.18);

    }

    .asset {
        border: 1px solid #86b6bb;
        background: rgba(240,240,255, 0.05);
    }

}



/* TODO non-dark-mode*/
